<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<title>gallery</title>

</head>
<style type="text/css">

img{
	margin-left: 20%;
	border-radius: 10px;
	width: 200px;
}
p{
	margin-left: 10%;
	font-size: 25px;
}
#home{
	text-decoration: none;
	

}
#container{
	direction: grid;
	grid: column;

}
	@media only screen and (min-width:500px){
		
	
	}
</style>
<body>
	<div id="container">
	<h1>{{request.user}}</h1>
	<a href="{% url 'home'%}" id="home">Home</a>
	<br><br>
</div>
{% for i in photos %}
<p>{{i.title}}</p>
<img src="{{i.photo.url}}" width="100px"><br><br><br><br><br>
{% endfor %}
</body>
</html>